.navbar-container {
	display: flex;
	width: 100vw;
	height: 3vh;
	z-index: 99999;
	background-color: #282c34;
	position: fixed;
	opacity: 100%;
	align-items: center;
	justify-content: space-between;
	padding: 1%;
	padding-right: 2%;
  }
  
  .brand {
	font-size: 1.5rem;
	display: flex;
	justify-content: left;
	width: 30%;
  }
  
  .name {
	font-weight: bold;
  }
  
  .navbar-menu {
	display: flex;
	justify-content: right;
	width: 70%;
	list-style: none;
  }
  
  .navbar-item {
	margin-right: 5%;
  }
  
  .navbar-item a {
	text-decoration: none;
  }
  
  .resume-button {
	text-decoration: none;
	border-radius: 4px;
  }
  